<ng-form name='textForm'>
<div class='legend' ng-if='$ctrl.vgLegend'>{($ctrl.vgLegend)}</div>
<div class="input-form-wrap f-left h-auto w-100">
  <input type="{($ctrl.vgType)}"
          ng-model='$ctrl.vgModel'
          class='input-form'
          ng-class='{
            formError: (textForm[$ctrl.vgName].$invalid && textForm[$ctrl.vgName].$dirty),
            formValid: (textForm[$ctrl.vgName].$valid && textForm[$ctrl.vgName].$dirty),
          }'
          placeholder="{($ctrl.vgPlaceholder)}"
          name='{($ctrl.vgName)}'
          ng-required='$ctrl.vgRequired'
          ng-disabled='$ctrl.vgDisabled'
          ng-model-options="{'allowInvalid': true}"
          ng-trim="false"
          vg-verificator='{($ctrl.vgValidator)}' />

   <div ng-show='textForm[$ctrl.vgName].$valid && textForm[$ctrl.vgName].$dirty' class="form-valid-icon form-valid"></div>
   <div ng-show='textForm[$ctrl.vgName].$invalid && textForm[$ctrl.vgName].$dirty' class="form-valid-icon form-invalid"></div>
   <div ng-show='textForm[$ctrl.vgName].$pristine && $ctrl.vgRequired' class="form-valid-icon form-required"></div>
</div>
  <div class="errorMessage" ng-show='textForm[$ctrl.vgName].$invalid && textForm[$ctrl.vgName].$dirty'>
    <span ng-repeat='(key, value) in textForm[$ctrl.vgName].$error' ng-if='textForm[$ctrl.vgName].$error && key != "required"'>
      <span>{($ctrl.vgErrors[key])}</span>
    </span>
     <span ng-if='textForm[$ctrl.vgName].$error.required && $ctrl.vgErrors.required'>{($ctrl.vgErrors.required)}</span>
  </div>
  <div class="infoMessage" ng-show='textForm[$ctrl.vgName].$pending'>
    <span ng-repeat='(key, value) in textForm[$ctrl.vgName].$pending'>
      <span>Verification...</span>
    </span>
  </div>
  <!-- <pre>{(textForm[$ctrl.vgName].$pending)}</pre> -->
</ng-form>
