//

@import "variables.scss";


html{
  height: 100%;
  width: 100%;
}


header{
  flex: 0 0 auto;
  display: flex;
  height: 50px;
  width: 100%;
  background-color: $w250;
  box-shadow: 0 0 5px darken($w250, 20%);
  padding: 5px 10px 5px 10px;
  align-items: center;
  z-index: 1000;
  color: white;

  img{
    flex: 0 0 auto;
  }
  span.title{
    flex: 1 1 auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
}

