html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial, sans-serif", sans-serif;
  color: white;
  box-sizing: border-box;
  background-color: white;
  overflow-x: hidden;
  display: flex;
  flex-flow: column wrap;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

span {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

ul, li {
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

input, textarea, button {
  outline: none;
  border: none;
  background: none;
  resize: none;
}

pre {
  position: relative;
  float: left;
  width: 100%;
}
