html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial, sans-serif", sans-serif;
  color: #505050;
  box-sizing: border-box;
  background-color: whitesmoke;
  overflow-x: hidden;
  display: flex;
  flex-flow: column wrap;
  -webkit-font-smoothing: antialiased;
}

ul#alertsContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 350px;
  height: auto;
  z-index: 2005;
  display: flex;
  flex-direction: column-reverse;
}

ul#alertsContainer li {
  position: relative;
  height: auto;
  width: 100%;
  margin-top: 5px;
  padding: 15px 10px 15px 50px;
  box-shadow: 0 0 10px rgba(20, 20, 20, 0.2);
  font-size: 14px;
  color: #fafafa;
  text-align: center;
  align-content: center;
  border-radius: 3px;
  background-color: #3c3c3c;
  line-height: 17px;
}

ul#alertsContainer li img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 10px;
}

ul#alertsContainer li.ng-enter {
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  -ms-transition: left 0.3s;
  transition: left 0.3s;
  left: -100%;
}

ul#alertsContainer li.ng-enter.ng-enter-active {
  left: 0;
}

ul#alertsContainer li.ng-leave {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 1;
}

ul#alertsContainer li.ng-leave.ng-leave-active {
  opacity: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

span {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

ul, li {
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

input, textarea, button {
  outline: none;
  border: none;
  background: none;
  resize: none;
}

pre {
  width: 100%;
}

.checkbox {
  position: relative;
  float: left;
  padding: 5px 5px 5px 5px;
  height: auto;
  width: 100%;
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox span {
  font-size: 13px;
}

.checkbox label {
  position: relative;
  display: inline-block;
  height: 17px;
  width: 17px;
  vertical-align: middle;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #c8c8c8;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  transition: all, 0.3s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.checkbox label:hover {
  border-color: #4286f4;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.checkbox input:checked + label {
  background-color: #4286f4;
  background-image: url("../assets/done.svg");
  border: 1px solid transparent;
}

.checkbox input:checked + label + span {
  color: #4286f4;
}

@keyframes spinner-animation {
  0% {
    transform: rotateZ(0deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.8, 0.2);
    opacity: 1;
  }
  50% {
    transform: rotateZ(180deg);
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.8, 1, 1);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.loading-spinner {
  position: relative;
  display: flex;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.loading-spinner::before, .loading-spinner::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 1px;
  left: 0;
  border-radius: 1em;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 1em;
  border: 1px solid;
  animation: spinner-animation 1.2s infinite;
  animation-fill-mode: backwards;
}

.loading-spinner::before {
  z-index: 2;
  border-color: #3c3c3c transparent transparent transparent;
}

.loading-spinner::after {
  z-index: 1;
  border-color: transparent #626262 transparent transparent;
  animation-delay: 0.6s;
}

.loading-spinner.white::before {
  border-color: #e6e6e6 transparent transparent transparent;
}

.loading-spinner.white::after {
  border-color: transparent white transparent transparent;
}

.loading-spinner.big {
  height: 40px;
  width: 40px;
}

.loading-spinner.big::after {
  border-width: 2px;
  border-radius: 40px;
}

.loading-spinner.big::before {
  border-width: 2px;
  border-radius: 40px;
}

.loading-spinner.medium {
  height: 30px;
  width: 30px;
}

.loading-spinner.medium::after {
  border-width: 1px;
  border-radius: 30px;
}

.loading-spinner.medium::before {
  border-width: 1px;
  border-radius: 30px;
}
